<div class="modal-dialog" role="document" style="max-width: 70%">
    <div class="modal-content">
        <div class="modal-header">
            <h6 class="modal-title" id="exampleModalLongTitle">New Mail</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form id="mail-send-form">
                <div class="form-group row">
                    <div class="col col-sm-1">
                        <div class="row">
                            <label class="col col-sm-offset-0 col-form-label col-form-label-sm">To:</label>
                            <div class="col-sm-offset-0">
                                <button type="button" class="btn btn-sm btn-outline-secondary"
                                        onclick="showAddrBook(this)">&#128214;
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-10">
                        <input class="form-control form-control-sm" type="email" id="new-mail-to" multiple required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-1 col-form-label col-form-label-sm">Subject:</label>
                    <div class="col-sm-10">
                        <input class="form-control form-control-sm" type="text" id="new-mail-subj" required>
                    </div>
                </div>
                <div class="form-group row">
                    <input type="file" class="invisible" id="newMailInput" multiple style="position: absolute">
                    <div class="col col-sm-auto">
                        <button type="button" class="btn btn-sm btn-outline-secondary" onclick="$('#newMailInput').click()">&#128206;</button>
                    </div>
                    <div class="col col-sm" id="newMailFileLabel"></div>
                </div>
                <div class="form-group">
                    <textarea class="form-control" id="new-mail-body" rows="9"></textarea>
                </div>
                <input class="btn btn-primary btn-sm" id="btn-mail-send" type="submit" value="Send">
            </form>
        </div>
    </div>
</div>
<div class="invisible" >
    <div id="adrBookTable">
        <table class="table table-sm">
            <thead>
            <tr>
                <th scope="col"><a href="javascript:newMailPageSort('Name')">Name</a></th>
                <th scope="col"><a href="javascript:newMailPageSort('Address')">Address</a></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody id="adrBookTableBody"></tbody>
        </table>
        <div class="row">
            <div class="col col-auto">
                <select class="custom-select custom-select-sm" onchange="setNewMailPageSize(this.value)">
                    <option value="5" selected>5</option>
                    <option value="10">10</option>
                </select>
            </div>
            <div class="col">
                <nav>
                    <ul class="pagination pagination-sm" id="newMailPager"></ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<script>
    var newMailAddrPager = {
        size: 5,
        page: 0,
        sortField: 'Name',
        direction: 'asc',
        string: function () {
            return '?size=' + this.size + '&page=' + this.page + '&sort=' + this.sortField + ',' + this.direction
        },
        setSort: function (name) {
            if (this.sortField == name) {
                this.direction = this.direction == 'desc' ? 'asc' : 'desc';
            } else {
                this.sortField = name;
                this.direction = 'asc';
            }
        }
    };
    var newMailFiles = [];
    $('#mail-send-form').submit(function (event) {
        let size = 0;
        newMailFiles.forEach(function (file) {
            size += file.size;
        });
        if (size >= 100000000) {
            alert("Mails over 100 Mb is not allowed!");
        } else {
            let data = new FormData();
            data.append('to', $('#new-mail-to').val());
            data.append('subject', $('#new-mail-subj').val());
            data.append('body', $('#new-mail-body').val());
            newMailFiles.forEach(function (file) {
                data.append('files', file);
            });
            $.ajax({
                url: "/mail/send",
                type: "post",
                beforeSend: function (request) {
                    request.setRequestHeader("X-CSRF-TOKEN", $('meta[name="_csrf_token"]').attr('content'));
                },
                data: data,
                cache: false,
                contentType: false,
                processData: false,
            });
            $('#window-modal').modal('hide');
        }
        event.preventDefault();
    });

    function showAddrBook(btn) {
        $(btn).popover({content: $('#adrBookTable'), placement: 'bottom', title: 'Address book', html: true});
        fillAddrTable();
        $(btn).popover('show');
    }
    function fillAddrTable() {
        $.ajax({
            url: '/address/get' + newMailAddrPager.string(),
            success: function (data) {
                $('#adrBookTableBody').html('');
                for (let i = 0; i < data.content.length; i++) {
                    let row = $('<tr></tr>');
                    row.append($('<td></td>').text(data.content[i].name));
                    row.append($('<td></td>').text(data.content[i].address));
                    const choose = $('<a href="#">-></a>').attr('name', data.content[i].address);
                    choose.on('click', addNewMailAddress);
                    row.append($('<td></td>').append(choose));
                    $('#adrBookTableBody').append(row);
                }
                generateNewMailPager(data);
            }
        })
    }
    function generateNewMailPager(data) {
        let pager = $('#newMailPager');
        pager.html('');
        for (let i = 0; i < data.totalPages; i++) {
            let item = $('<li class="page-item"></li>');
            if (i == data.number) {
                item.addClass('active');
            }
            let link = $('<a class="page-link"></a>').text(i + 1);
            if (i !== data.number) {
                link.attr('href', '#');
                link.on('click', function () {
                    newMailAddrPager.page = this.text - 1;
                    fillAddrTable();
                });
            }
            item.append(link);
            pager.append(item);
        }
    }
    function setNewMailPageSize(value) {
        newMailAddrPager.size = value;
        newMailAddrPager.page = 0;
        fillAddrTable();
    }
    function newMailPageSort(name) {
        newMailAddrPager.setSort(name);
        fillAddrTable();
    }
    function addNewMailAddress() {
        let field = $('#new-mail-to');
        if (field.val() == '') {
            field.val(this.name)
        } else {
            field.val(field.val() + ', ' + this.name);
        }
    }
    $('#newMailInput').on('change', function () {
        let files = [];
        for (let i = 0; i < this.files.length; i++) {
            files.push(this.files[i]);
        }
        if (newMailFiles.length == 0) {
            newMailFiles = files;
        } else {
            files = files.filter(function (file) {
                for (let i = 0; i < newMailFiles.length; i++) {
                    if (file.name == newMailFiles[i].name) {
                        return false;
                    }
                }
                return true;
            });
            newMailFiles = newMailFiles.concat(files);
        }
        updateNewMailAttachments();
    });
    function updateNewMailAttachments() {
        let label = $('#newMailFileLabel');
        label.html('');
        for (let i = 0; i < newMailFiles.length; i++) {
            label.append(newMailFiles[i].name + ' (' + (newMailFiles[i].size / 1048576).toFixed(2) + ' Mb) <a href="javascript:deleteAttach(' + i + ')">X</a>, ');
        }
    }
    function deleteAttach(index) {
        newMailFiles = newMailFiles.filter(function (val, i) {
            return index !== i;
        });
        updateNewMailAttachments();
    }
</script>