<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <title>Mail server.</title>
</head>
<body>
<div class="container">
    <div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog" role="document" style="width: 300px">
            <div class="modal-content">
                <div class="modal-body">
                    <ul class="nav nav-tabs justify-content-center nav-fill" role="tablist">
                        <li class="nav-item"><a class="nav-link active" href="#loginPane" data-toggle="tab"
                                                role="tab">Login</a></li>
                        <li class="nav-item"><a class="nav-link" href="#regPane" data-toggle="tab"
                                                role="tab">Register</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="loginPane">
                            <form action="/login" method="post">
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                                <div class="form-group">
                                    <p>
                                        <label for="login">Enter login</label>
                                        <input type="text" class="form-control" id="login" name="username"
                                               placeholder="Login" required autofocus>
                                    </p>
                                    <p>
                                        <label for="usrnm">Enter password</label>
                                        <input type="password" class="form-control" id="usrnm" name="password"
                                               placeholder="Password" required>
                                    </p>
                                    <div class="custom-checkbox">
                                        <input type="checkbox" class="custom-checkbox" name="remember-me"> Remember me
                                    </div>
                                    <div class="alert alert-danger" th:if="${param.error}">
                                        Invalid username or password!
                                    </div>
                                    <div class="row justify-content-center">
                                        <input type="submit" class="btn btn-primary" value="Login">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane" id="regPane">
                            <form action="/register" method="post" id="formRegister">
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                                <div class="form-group">
                                    <small class="form-text text-muted">Name</small>
                                    <input type="text" class="form-control" name="name" placeholder="Name"
                                           th:value="${name}" required>
                                    <div class="invalid-feedback">
                                        Must be 3-15 symbols
                                    </div>
                                </div>
                                <div class="form-group">
                                    <small class="form-text text-muted">Last name</small>
                                    <input type="text" class="form-control" name="surName" placeholder="LastName"
                                           th:value="${surName}" required>
                                    <div class="invalid-feedback">
                                        Must be 3-15 symbols
                                    </div>
                                </div>
                                <div class="form-group">
                                    <small class="form-text text-muted">Login</small>
                                    <input type="text" class="form-control" name="login" placeholder="Login"
                                           th:value="${login}" required>
                                    <div class="invalid-feedback" id="loginFeedback">
                                        Must be 3-15 symbols
                                    </div>
                                    <div class="alert alert-danger" th:if="${taken}">
                                        Login already taken!
                                    </div>
                                </div>
                                <div class="form-group">
                                    <small class="form-text text-muted">Password</small>
                                    <input type="password" class="form-control" name="password1" placeholder="Password"
                                           required>
                                    <div class="invalid-feedback" id="passwordFeedback">
                                        Passwords not match.
                                    </div>
                                    <input type="password" class="form-control" name="password2"
                                           placeholder="Retype Password" required>
                                </div>
                                <div class="row justify-content-center">
                                    <input type="submit" class="btn btn-primary" value="Register">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/jquery.min.js"></script>
<script src="/static/popper.min.js"></script>
<script src="/static/bootstrap.min.js"></script>
<script>
    $('#modalLogin').modal({backdrop: 'static', keyboard: false});
</script>
<script th:inline="javascript">
    if ([[${register}]]) {
        $('[href="#regPane"]').tab('show');
    }
</script>
<script>
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            var form = document.getElementById('formRegister');
            form.addEventListener('submit', function (event) {
                var isValid = true;
                if (form.name.value.length >= 3 && form.name.value.length <= 15) {
                    form.name.classList = 'form-control is-valid';
                } else {
                    form.name.classList = 'form-control is-invalid';
                    isValid = false;
                }
                if (form.surName.value.length >= 3 && form.surName.value.length <= 15) {
                    form.surName.classList = 'form-control is-valid';
                } else {
                    form.surName.classList = 'form-control is-invalid';
                    isValid = false;
                }
                if (form.login.value.length < 3 || form.login.value.length > 15) {
                    document.getElementById('loginFeedback').innerText = 'Login must be 3 - 15 symbols.';
                    form.login.classList = 'form-control is-invalid';
                    isValid = false;
                } else {
                    if (!(/^[\d\w]+\.?[\d\w]+$/.test(form.login.value))) {
                        document.getElementById('loginFeedback').innerText = 'Only letters and digits with one \'.\' between allowed.';
                        form.login.classList = 'form-control is-invalid';
                        isValid = false;
                    } else {
                        form.login.classList = 'form-control is-valid';
                    }
                }
                if (form.password1.value.length < 3 || form.password1.value.length > 15) {
                    isValid = false;
                    document.getElementById('passwordFeedback').innerText = 'Password must be 3 - 15 symbols.';
                    form.password1.classList = 'form-control is-invalid';
                } else {
                    if (form.password1.value !== form.password2.value) {
                        isValid = false;
                        document.getElementById('passwordFeedback').innerText = 'Passwords not match.';
                        form.password1.classList = 'form-control is-invalid';
                        form.password2.classList = 'form-control is-invalid';
                    } else {
                        form.password1.classList = 'form-control is-valid';
                        form.password2.classList = 'form-control is-valid';
                    }
                }
                if (!isValid) {
                    event.preventDefault();
                    event.stopPropagation();
                }
            }, false);
        }, false);
    })();
</script>
</body>
</html>